#constellation {
    position: relative;
    display: inline-block;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-bottom: 5em;
    padding-top: 5em;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 0% 50% !important;
    background-attachment: fixed !important;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 120vh;
    min-height:800px;
    max-heiht:1200px;

    @media (max-width: 1200px) { 
        padding-top:3em;
        height: 100vh;
    }

    .container {
        padding-top:8em;
        padding-bottom:7.5em;
        @media (max-width: 1084px) { padding-top:6em; padding-bottom:5.5em; }
        @media (max-width: 768px) { padding-top:5em; padding-bottom:4.5em; }
        @media (max-width: 400px) { padding-top:4em; padding-bottom:5.5em; }
    }

    * {
        -webkit-transition: all 700ms;
        -moz-transition: all 700ms;
        -o-transition: all 700ms;
        transition: all 700ms;
    }


    .constellation_box {
        top: 50%;
        left: 50%;
        display: block;
        position: absolute;
        width: 100%;
        max-width: 400px;
        height: 350px;
        margin: 0 auto;
        -webkit-transform: translate(-50%,-50%) skew(30deg, 5deg);
        -moz-transform: translate(-50%,-50%) skew(30deg, 5deg);
        -o-transform: translate(-50%,-50%) skew(30deg, 5deg);
        transform: translate(-50%,-50%) skew(30deg, 5deg);
        border: 6px solid rgba(255, 255, 255, 0.3);

        @media (max-width: 1024px) { 
            max-width: 340px;
            -webkit-transform: translate(-50%,-50%) skew(12deg, 5deg);
            -moz-transform: translate(-50%,-50%) skew(12deg, 5deg);
            -o-transform: translate(-50%,-50%) skew(12deg, 5deg);
            transform: translate(-50%,-50%) skew(12deg, 5deg);
        }
        @media (max-width: 575px) { 
            max-width: 180px;
            height:300px;
        }

        h2.title {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: skew(-30deg, -5deg) translate(-55%, -100%);
            -moz-transform: skew(-30deg, -5deg) translate(-55%, -100%);
            -o-transform: skew(-30deg, -5deg) translate(-55%, -100%);
            transform: skew(-30deg, -5deg) translate(-55%, -100%);
            color: #fff;
            margin: 0;
            font-size: 72px;
            min-width: 800px;
            text-align: center;
            text-shadow: 3px 3px 13px rgba(14,18,60,0.95);

            @media (max-width: 1024px) { 
                font-size: 42px;
                -webki-transform: translate(-55%, -100%) skew(-12deg, -5deg);
                -moz-transform: translate(-55%, -100%) skew(-12deg, -5deg);
                -o-transform: translate(-55%, -100%) skew(-12deg, -5deg);
                transform: translate(-55%, -100%) skew(-12deg, -5deg);
                left: 66%;
            }
            @media (max-width: 575px) {  font-size: 25px; left: 76%; }            
        }

        a.star {
            display:block;
            width:80px;
            height:80px;
            position:absolute;
            top:50%;
            left:50%;
            border-radius: 100%;
            background:#fff;
            color:#000;

            @media ( max-width:768px) { top:75%; z-index:1; }

            &:before {
                position: absolute;
                content: '';
                width: 125%;
                height: 125%;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                background: rgba(255, 255, 255, 0.2);
                border-radius: 100%;
            }
            &:after {
                pointer-events:none;
                position:absolute;
                content:'+';
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                font-size:2em;
            }
            &:hover, &:focus {
                width:40px;
                height:40px;
                text-decoration: none;
                &:before {
                    width: 225%;
                    height: 225%;
                    background: rgba(255, 255, 255, 0.1);
                }
                &:after {
                    font-size:1.2em;
                }
            }
        }

        span.star_title {
            display:block;
            position:absolute;
            color:#fff;
            font-size:1.2em;
            @media (max-width: 1024px) { font-size: 1em; }
        }


        a.star_one {
            top:0;
            left:0;
            -webkit-transform: skew(-30deg,-5deg) translate(-50%,-50%);
            -moz-transform: skew(-30deg,-5deg) translate(-50%,-50%);
            -o-transform: skew(-30deg,-5deg) translate(-50%,-50%);
            transform: skew(-30deg,-5deg) translate(-50%,-50%);
            @media (max-width:1024px) {
                -webkit-transform: translate(-50%,-50%) skew(-12deg, -5deg);
                -moz-transform: translate(-50%,-50%) skew(-12deg, -5deg);
                -o-transform: translate(-50%,-50%) skew(-12deg, -5deg);
                transform: translate(-50%,-50%) skew(-12deg, -5deg);
            }
        }
        a.star_two {
            top:0;
            right:0;
            left: 100%;
            -webkit-transform:skew(-30deg, -5deg) translate(-100%, -50%);
            -moz-transform:skew(-30deg, -5deg) translate(-100%, -50%);
            -o-transform:skew(-30deg, -5deg) translate(-100%, -50%);
            transform:skew(-30deg, -5deg) translate(-100%, -50%);
            @media (max-width:1024px) {
                -webkit-transform: translate(-50%,-50%) skew(-12deg, -5deg);
                -moz-transform: translate(-50%,-50%) skew(-12deg, -5deg);
                -o-transform: translate(-50%,-50%) skew(-12deg, -5deg);
                transform: translate(-50%,-50%) skew(-12deg, -5deg);
            }
        }
        a.star_three {
            bottom:0;
            right:0;
            left: 100%;
            top:100%;
            -webkit-transform: skew(-30deg,-5deg) translate(-100%, -50%);
            -moz-transform: skew(-30deg,-5deg) translate(-100%, -50%);
            -o-transform: skew(-30deg,-5deg) translate(-100%, -50%);
            transform: skew(-30deg,-5deg) translate(-100%, -50%);
            @media (max-width:1024px) {
                -webkit-transform: translate(-50%,-50%) skew(-12deg, -5deg);
                -moz-transform: translate(-50%,-50%) skew(-12deg, -5deg);
                -o-transform: translate(-50%,-50%) skew(-12deg, -5deg);
                transform: translate(-50%,-50%) skew(-12deg, -5deg);
            }
        }
        a.star_four {
            bottom:0;
            left:0;
            top:100%;
            -webkit-transform: skew(-30deg,-5deg) translate(-50%,-50%);
            -moz-transform: skew(-30deg,-5deg) translate(-50%,-50%);
            -o-transform: skew(-30deg,-5deg) translate(-50%,-50%);
            transform: skew(-30deg,-5deg) translate(-50%,-50%);
            @media (max-width:1024px) {
                -webkit-transform: translate(-50%,-50%) skew(-12deg, -5deg);
                -moz-transform: translate(-50%,-50%) skew(-12deg, -5deg);
                -o-transform: translate(-50%,-50%) skew(-12deg, -5deg);
                transform: translate(-50%,-50%) skew(-12deg, -5deg);
            }
        }
        span.star_title {
            -webkit-transform: skew(-30deg,-5deg);
            -moz-transform: skew(-30deg,-5deg);
            -o-transform: skew(-30deg,-5deg);
            transform: skew(-30deg,-5deg);
            @media (max-width:1024px) {
                -webkit-transform: skew(-12deg, -5deg);
                -moz-transform: skew(-12deg, -5deg);
                -o-transform: skew(-12deg, -5deg);
                transform: skew(-12deg, -5deg);
            }
        }

        span.star_title {
            @media (max-width: 575px) { opacity:.7; }
        }

        span.star_title_one {
            top:0;
            left:0;
            height:0;
margin-top: 60px;
margin-left: -30px;
        }
        span.star_title_two {
            top: 0;
            height: 0;
            left: 100%;
margin-top: -90px;
margin-left: -30px;
        }
        span.star_title_three {
            bottom: 0;
            left: 100%;
            top: 100%;
            height: 0;
margin-top: -80px;
    margin-left: -30px;
        }
        span.star_title_four {
            bottom: 0;
            left: 0;
            height: 0;
            top: 100%;
    margin-top: -80px;
    margin-left: -50px;
        }

        .line {
            display:block;
            position:absolute;
            width: 200%;
            border-top: 6px solid rgba(255, 255, 255, 0.3);
        }
        .left_line {
            right: 100%;
        }
        .right_line {
            left: 100%;
            top:100%;
        }
    }

    .star_text_box {
        display: block;
        position: absolute;
        width:100%;
        height:100%;
        z-index: 999;
        margin: 0;
        pointer-events: none;

        .star_text {
            position: absolute;
            top:50%;
            left:50%;
            -webkit-transform:translate(-50%,-50%);
            -moz-transform:translate(-50%,-50%);
            -o-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
            color: #fff;
            margin: 0;
            width: 100%;
            max-width: 500px;
            pointer-events: none;
            text-align: justify;
            -moz-text-align-last: center;
            text-align-last: center;

            h2 {
                text-align:center;
            }
        }  

        .star_text_one, .star_text_two, .star_text_three, .star_text_four { 
            display:none;
            font-size: .9em;
            padding: 2.5em;
        } 

        .star_circle {
            pointer-events: all;
            display:none;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%) skew(8deg);
            -moz-transform: translate(-50%, -50%) skew(8deg);
            -o-transform: translate(-50%, -50%) skew(8deg);
            transform: translate(-50%, -50%) skew(8deg);
            margin: 0;
            width: 150%;
            padding-bottom: 150%;
            background: rgba(29,35,98,0.98);;
            border-radius: 100%;
            height: 100%;
            z-index: -1; 

            &:before {
                position: absolute;
                content: '';
                width: calc(100% + 20px);
                height:calc(100% + 20px);
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                background: rgba(14, 18, 60, 0.1);
                -webkit-border-radius: 100%;
                border-radius: 100%;
                -webkit-transition: all 100ms ease-in-out;
                -moz-transition: all 100ms ease-in-out;
                -o-transition: all 100ms ease-in-out;
                transition: all 100ms ease-in-out;
            }

            &:hover, &:focus {
                &:before {
                    width: calc(100% + 30px);
                    height:calc(100% + 30px);
                    background: rgba(14, 18, 60, 0.2);
                }
            }


            a.close {
                display:block;
                width:70px;
                height:70px;
                position:absolute;
                top: 5%;
                right: 11%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                -ms-border-radius: 100%;
                border-radius: 100%;
                background:rgba(14,18,60,0.95);
                color:#fff;
                pointer-events: all;
                -webkit-transform: skew(-8deg);
                -moz-transform: skew(-8deg);
                -o-transform: skew(-8deg);
                transform: skew(-8deg);

                &:before {
                    position: absolute;
                    content: '';
                    width: 115%;
                    height: 115%;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate(-50%,-50%);
                    -moz-transform: translate(-50%,-50%);
                    -o-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                    background: rgba(50, 50, 50, 0.1);
                    border-radius: 100%;
                }
                &:after {
                    pointer-events:none;
                    position:absolute;
                    content:'\2715';
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate(-50%,-50%);
                    -moz-transform: translate(-50%,-50%);
                    -o-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                    font-size:1.5em;
                }
                &:hover, &:focus {
                    width:50px;
                    height:50px;
                    text-decoration: none;
                    &:before {
                        width: 175%;
                        height: 175%;
                        background: rgba(14,18,60, 0.1);
                    }
                    &:after {
                        font-size:1.2em;
                    }
                }
            }
        }
    }



    .white_bg {

        .constellation_box {
            border-color: rgba(200,200,200,0.1);

            h2.title {
                color: #1d2362;
                text-shadow: 3px 3px 13px rgba(200,200,200,0.1);
            }

            a.star {
                background:#1d2362;
                color:#fff;

                &:before {
                    background: rgba(29,35,97, 0.1);
                }
                &:after {
                }
                &:hover, &:focus {
                    &:before {
                        background: rgba(29,35,97, 0.1);
                    }
                    &:after {
                    }
                }
            }
            span.star_title { color:#1d2362; }
        }

        .star_text_box {

            .star_text {
                color:#fff;

                .star_circle {
                    background: #1d2362 !important;
                    &:before {
                        background: rgba(29,35,97,0.1) !important;
                    }
                    &:hover, &:focus {
                        &:before {
                            background: rgba(29,35,97,0.1) !important;
                        }
                    }

                    a.close {
                        background: #1d2362;
                        color:#fff;
                        &:before {
                            background: rgba(29,35,97, 0.2) !important;
                        }
                        &:after {
                        }
                        &:hover, &:focus {
                            &:before {
                                background: rgba(29,35,97, 0.1) !important;
                            }
                            &:after {
                            }
                        }
                    }
                }
            }
        }
    }

}

.border_bottom {
    .container {
        padding-bottom:0px;
    }
}

.border_top {
    margin-top:-110px !important;
    @media (max-width: 1200px) { margin-top: -60px !important; }
    @media (max-width: 990px) { margin-top: -40px !important; }
}

.border_top_masque {
    position: absolute;
    display:block;
    width:100%;
    height: 100px;
    top:0;
    left:0;
    border: 0px;
    background: #fff;
    border-radius: 0% 0% 230% 230% / 0% 0% 20vw 20vw;
    -moz-border-radius: 0% 0% 230% 230% / 0% 0% 20vw 20vw;
    -webkit-border-radius: 0% 0% 230% 230% / 0% 0% 20vw 20vw;
    @media (max-width: 1200px) { height: 80px; }
    @media (max-width: 990px) { height: 50px; }
}


