.linebreak {
    display: block;
    position: relative;
    margin: 2em auto;
    width: 100%;

     @media (max-width: 575px) { 
        margin: 1em auto;
    }

    .heading_next {
        display: block;
        position: relative;
        margin: .5em auto 0;
        width: 8px;
        height: 80px;
        border-top: 2px solid #dadada;
        border-bottom: 2px solid #dadada;

        @media (max-width: 575px) { 
            height: 60px;
        }

        div {
            position:absolute;
            border-left:2px solid #dadada;
            left:3px;
            height:100%
        }
    }
}