$lochmara: #007BB7;
//variations
$darklochmara: #293364;
$lightlochmara: #3395C5;
$lighterlochmara: #ABD4E7;

$jewel: #19763A;
//variations
$darkjewel: #0E4A22;
$lightjewel: #217E3A;
$lighterjewel: #75AD89;

$nevada: #64767B;
//variations
$darknevada: #303741;
$lightnevada: #839195;
$lighternevada: #C1C2C4;
$lightestnevada: #E1E1E2;

$insights: #0d3e67;
$insightslight: #71b1c8;

$black: #000000;
$white: #FFFFFF;
$lightgrey: #FBFCFC;
$palegrey: #f0f0f0;
$help: #63787c;

$reallywhite: #FFFFFF;
